<div class="blockinfo">
	<a href="/block/{{height}}"><span class="text-mini" title="Block Height">Block {{formatHeight height}}</span></a>
	&ndash;
	<a href="/block/{{height}}"><span class="text-mini" title="{{hash}}">Hash {{short_hash}}</span></a>
</div>
<div class="top">
	<span class="from">Mined</span>
	<span class="action">
		<i class="icon-right"></i>
		<span class="value">{{krist value}}</span>
		<i class="icon-right"></i>
	</span>
	<span class="to"><a href="/address/{{address}}">{{address}}</a></span>
</div>
<div class="info">
	<a href="/block/{{height}}"><time class="text-mini" datetime="{{time}}"></time></a>
</div>