<div class="col-xs-12 m-b-1" id="block-overview-container">
	<div class=id">
		<p class="text-mini u-textCenter">Block #{{localise height}}</p>
	</div>
	<div class="top">
		<span class="address"><a href="/address/{{address}}">{{address}}</a></span>
		<span class="action">mined</span>
		<span class="value">{{krist value}}</span>
	</div>
	<div class="info">
		<time id="block-time" datetime="{{time}}"></time>
	</div>
	<div class="panel m-t-1">
		<div class="panel-header">
			Block Info
		</div>
		<ul class="panel-body panel-list">
			<li>
				<h3>Hash</h3>
				<p class="code">{{hash}}</p>
			</li>
			<li>
				<h3>Short Hash</h3>
				<p class="code">{{short_hash}}</p>
			</li>
			<li>
				<h3>Difficulty</h3>
				<p>{{difficulty}}</p>
			</li>
		</ul>
	</div>
</div>