<div class="top">
	{{#if name}}
		{{#if toName}}
			<span class="from"><a href="/address/{{from}}">{{from}}</a></span>
			<span class="action">&nbsp;purchased&nbsp;</span>
			<a href="/name/{{name}}" class="value">{{name}}</a>.kst
		{{else}}
			{{#if a}}
				<span class="from"><a href="/address/{{from}}">{{from}}</a></span>
				<span class="action">&nbsp;updated&nbsp;</span>
				<a href="/name/{{name}}" class="value">{{name}}</a>.kst
			{{else}}
				<span class="from"><a href="/address/{{from}}">{{from}}</a></span>
				<span class="action">
				<i class="icon-right"></i>
				<a href="/name/{{name}}" class="value">{{name}}</a>.kst
				<i class="icon-right"></i>
			</span>
				<span class="from"><a href="/address/{{to}}">{{to}}</a></span>
			{{/if}}
		{{/if}}
	{{else}}
		<span class="from">{{#if from}}<a href="/address/{{from}}">{{from}}</a>{{else}}Mined{{/if}}</span>
		<span class="action">
			<i class="icon-right"></i>
			{{#if name}}
				<a href="/name/{{name}}" class="value">{{name}}</a>.kst
			{{else}}
				<span class="value">{{krist value}}</span>
			{{/if}}
			<i class="icon-right"></i>
		</span>
		<span class="to"><a href="/address/{{to}}">{{to}}</a></span>
	{{/if}}
</div>
<div class="info">
	<a href="/transaction/{{id}}"><time class="text-mini" datetime="{{time}}"></time></a>
</div>
{{#if metadata}}
	<div class="meta">
		<i class="icon-quote-left"></i>
		<p>
			{{nl2br metadata}}
		</p>
	</div>
{{/if}}