<div class="top">
	{{#if in}}
		{{#if from}}
			{{> "/_address" address=from name=commonMeta.return class="from" }}
			<span class="action">
				<i class="icon-right"></i>
				{{#if name}}
					<a href="/name/{{name}}" class="value">{{name}}</a>.kst
				{{else}}
					<span class="value">{{krist value}}</span>
				{{/if}}
				<i class="icon-right"></i>
			</span>
			{{> "/_address" address=to name=commonMeta.recipient class="to" }}
		{{else}}
			{{> "/_address" address=to name=commonMeta.recipient class="to" }}
			<span class="action">&nbsp;mined&nbsp;</span>
			<span class="value">{{krist value}}</span>
		{{/if}}
	{{else if name}}
		{{#if toName}}
			{{> "/_address" address=from name=commonMeta.return class="from" }}
			<span class="action">&nbsp;purchased&nbsp;(<span class="value">{{krist value}}</span>)&nbsp;</span>
			<span class="to"><a href="/name/{{name}}">{{name}}.kst</a></span>
		{{else if a}}
			{{> "/_address" address=from name=commonMeta.return class="from" }}
			<span class="action">&nbsp;updated&nbsp;</span>
			<a href="/name/{{name}}" class="value">{{name}}</a>.kst
		{{else}}
			{{> "/_address" address=from name=commonMeta.return class="from" }}
			<span class="action">
				<i class="icon-right"></i>
				<a href="/name/{{name}}" class="value">{{name}}</a>.kst
				<i class="icon-right"></i>
			</span>
			{{> "/_address" address=to name=commonMeta.recipient class="to" }}
		{{/if}}
	{{else}}
		{{> "/_address" address=from name=commonMeta.return class="from" }}
		<span class="action"><i class="icon-right"></i><span class="value">{{krist value}}</span><i class="icon-right"></i></span>
		{{> "/_address" address=to name=commonMeta.recipient class="to" }}
	{{/if}}
</div>
<div class="info">
	<a href="/transaction/{{id}}"><time class="text-mini" datetime="{{time}}"></time></a>
</div>
{{#if metadata}}
	<div class="meta"></div>
{{/if}}
