<div class="top">
	{{#if transferred}}
		<span class="action large">Received</span>
	{{else}}
		<span class="action large">Purchased</span>
	{{/if}}
	<span class="to"><a href="/name/{{name}}">{{name}}.kst</a></span>
</div>
<div class="info">
	<a href="/name/{{name}}"><time class="text-mini" datetime="{{updated}}"></time></a>
</div>
