<div class="col-xs-12 m-b-1" id="transaction-overview-container">
	<div class="id">
		<p class="text-mini u-textCenter">Transaction #{{localise id}}</p>
	</div>
	<div class="top">
		{{#if name}}
			{{#if toName}}
				{{> "/_address" address=from name=commonMeta.return class="from" }}
				<span class="action large">&nbsp;purchased&nbsp;</span>
				<a href="/name/{{name}}" class="value">{{name}}</a><span class="kst">.kst</span>
			{{else if a}}
				{{> "/_address" address=from name=commonMeta.return class="from" }}
				<span class="action large">&nbsp;updated&nbsp;</span>
				<a href="/name/{{name}}" class="value">{{name}}</a><span class="kst">.kst</span>
			{{else}}
				{{> "/_address" address=from name=commonMeta.return class="from" }}
				<span class="action large">
					<i class="icon-right"></i>
					<a href="/name/{{name}}" class="value">{{name}}</a><span class="kst">.kst</span>
					<i class="icon-right"></i>
				</span>
				{{> "/_address" address=to name=commonMeta.recipient class="to" }}
			{{/if}}
		{{else}}
			{{> "/_address" address=from name=commonMeta.return class="from" }}
			<span class="action large"><i class="icon-right"></i><span class="value">{{krist value}}</span><i class="icon-right"></i></span>
			{{> "/_address" address=to name=commonMeta.recipient class="to" }}
		{{/if}}
	</div>
	<div class="info">
		<time id="transaction-time" datetime="{{time}}"></time>
		<a {{#unless first}}href="/transaction/{{lastTransaction}}"{{/unless}} class="u-floatLeft{{#if first}} u-invisible{{/if}}">&laquo; Prev</a>
		<a href="/transaction/{{nextTransaction}}" class="u-floatRight">Next &raquo;</a>
	</div>
	{{#if metadata}}
		<div class="meta"></div>
	{{/if}}
</div>
