<div class="col-xs-12 m-b-1" id="transaction-overview-container">
	<div class=id">
		<p class="text-mini u-textCenter">Transaction #{{localise id}}</p>
	</div>
	<div class="top">
		<span class="from">{{#if from}}<a href="/address/{{from}}">{{from}}</a>{{else}}Mined{{/if}}</span>
		<span class="action"><i class="icon-right"></i><span class="value">{{krist value}}</span><i class="icon-right"></i></span>
		<span class="to"><a href="/address/{{to}}">{{to}}</a></span>
	</div>
	<div class="info">
		<time id="transaction-time" datetime="{{time}}"></time>
	</div>
	<div class="meta">
		{{#if metadata}}
			<div class="metadata">
				<i class="icon-quote-left"></i>
				<p>
					{{metadata}}
				</p>
			</div>
		{{/if}}
	</div>
</div>