<div class="left">
  <span class="hash">#</span><span class="number">{{number}}</span>
</div>
<div class="mid">
  <a href="/address/{{address}}" class="address">{{address}}</a>
  {{#if label}}
    <span class="label">{{label}}</span>
  {{/if}}
</div>
<div class="right">
  <span class="balance">{{krist balance}}</span>
</div>