{{#if loggedIn}}
	<div class="col-xs-12 m-b-1" id="wallet-overview-container">
		<div class="left-col">
			<span class="address">{{address}}</span>
			<span class="balance">{{krist balance}}</span>
		</div>
		<div class="right-col">
			{{#if isOwn}}
				<a class="button button-green" href="/transactions/make"><i class="icon-send"></i>Send Krist</a>
			{{else}}
				<a class="button button-green" id="send-krist"><i class="icon-send"></i>Send Krist to {{address}}</a>
			{{/if}}
			{{#unless hideNames}}<span class="badge badge-green-light">{{#if names}}{{names}}{{else}}0{{/if}} {{pluralize (names) "name" "names"}}</span>{{/unless}}
		</div>
	</div>
{{/if}}